#navb {
	background-color: #fff1e0;
}
.title {
	text-decoration: none;
}
#topImg {
	padding: 0;
	margin: 0;
}
h1 {
	color: black;
	font-weight: bolder;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
#pub {
	display: hidden;
}
#info > h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 20% 1% 1% 15%;
}

#articles {
	background-color: #fff1e0;
	display: flex;
	flex-direction: column;
}
.vl {
	border-right: 1px solid gray;
	height: 60 vh;
	padding: 5px 50px;
}
#ftHeader {
	justify-content: center;
	background-color: #fff1e0;
}
#info_img {
	padding: 0;
	margin: 0;
}
#topPanel {
	flex-direction: row;
	justify-content: center;
	background-color: rgb(25, 25, 37);
	text-align: center;
	color: #fff1e0;
	padding: 1%;
}
footer > img {
	width: 100%;
}
#topImg {
	width: 100%;
}
#pub {
	display: flex;
}

#pub-btn {
	margin-left: 10%;
	width: 11%;
	height: 10%;
	background-color: #fff1e0;
	color: rgb(25, 25, 37);
	font-weight: bold;
}
#searchIcon {
	padding: 1.5% 4% 1% 1%;
	cursor: pointer;
}
#searchPanel {
	padding: 2% 2%;

	background-color: rgb(202, 197, 197);
}
#searchWord {
	justify-content: center;
	margin: 0 5% 1% 20%;
	border: 1px thick rgb(8, 110, 8);
	width: 80%;
}
#closeSearchPanel {
	padding-right: 20%;
}

#searchButton {
	background-color: rgb(25, 25, 37);
	border: none;
	margin: 0 3% 0% 0%;
}

